In [3]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [1]:
x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')

In [2]:
x

{'Late (31-120 days)': 'high_risk',
 'Late (16-30 days)': 'high_risk',
 'Default': 'high_risk',
 'In Grace Period': 'high_risk'}

In [5]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'], 
                   'C': [1, 2, 3], 'D': [True, False, True]})
df.head()

   A  B  C      D
0  a  b  1   True
1  b  a  2  False
2  a  c  3   True

In [6]:
dummy = pd.get_dummies(df)
dummy.head()

   C      D  A_a  A_b  B_a  B_b  B_c
0  1   True    1    0    0    1    0
1  2  False    0    1    1    0    0
2  3   True    1    0    0    0    1

In [9]:
dic = {'a':1, 'b':2}

In [14]:
[x[1] for x in dic.items()]

[1, 2]

In [20]:
[for x in dic.items()]

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]

In [19]:
bob = lambda x: 2*x[0] if x[1] ==2 else "miow"

In [ ]:
lambda a, b : a if(a > b) else b

In [21]:
bob = lambda x: x[0] if(x[1] == 1) else "junk"

In [22]:
[bob(x) for x in dic.items()]

['a', 'junk']

In [28]:
joe = ['a', 'a','junk']

In [29]:
joe.remove('a')

In [30]:
joe

['a', 'junk']

In [31]:
df.head()

   A  B  C      D
0  a  b  1   True
1  b  a  2  False
2  a  c  3   True

In [32]:
df.drop('A', axis=1)

   B  C      D
0  b  1   True
1  a  2  False
2  c  3   True

In [33]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:
from sklearn import RandomOversampler

ImportError: cannot import name 'RandomOversampler' from 'sklearn' (C:\Users\me\anaconda3\envs\PythonData\lib\site-packages\sklearn\__init__.py)

In [37]:
from imblearn import RandomOversampler

ModuleNotFoundError: No module named 'imblearn'

In [38]:
from imblearn.over_sampling import RandomOverSampler

ModuleNotFoundError: No module named 'imblearn'